<h2>投稿編集ページ</h2>
<% if user_signed_in? %>
  <%= form_with(model: @idea, local: true) do |form| %>
    <%# <%= form.text_field :image, placeholder: "Image Url" %> 
    <%= form.text_area :content, placeholder: "content", rows: "1" %>
    <%= form.submit "編集する" %>
  <% end %>
<% end %>