/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
  text-decoration: none;
 }

body {
  font-family: Hiragino_Sans_CNS;
}

header {
  width: 100vw;
  height: 60px;
  background-color: #536B86;
  border-bottom: 1px solid orange;
  position: fixed;
  top: 0;
  z-index: 1;
}

.top-wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/19/10/55/light-bulb-1209491_1280.jpg");
  height: 100vh;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 1250px;
}

.top-message {
  padding-top: 250px;
}

.title-message {
  color: white;
  font-size: 80px;
}

.logo-img {
  height: 60px;
  width: 150px;
  border-radius: 8px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
  margin-right: 60px;
  line-height: 60px;
  text-decoration: none;
}

.index-wrapper {
  background-color: white;
}



.section-title {
  text-align: center;
  margin: 30px 0;
  padding: 50px 0;
  border-bottom: 1px solid lightblue;
  font-size: 40px;
}



.idea {
  text-align: center;
}

.sinki-title {
  text-align: center;
  margin: 50px 0;
  padding: 50px 0 50px 0;
  border: 1px solid lightblue;
  font-size: 20px;
  font-weight: 100;
}

.field {
  text-align: center;
  margin-bottom: 30px;
}

.actions {
  text-align: center;
}

.header-middle {
  line-height: 60px;
  text-align: center;
}

.search-input {
  border: 1px solid lightblue;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 15px;
  width: 300px;
}

.search-btn {
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #1fb8eb;;
  border: 1px solid lightgray;
  color: white;
}

.search-page {
  margin-top: 120px;
}

.search-form-a {
  text-align: center;
  padding-bottom: 20px;
}