// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  border: 1px solid lightblue;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 15px;
  padding: 10px 0;
  display: flex;
}


.comment-right {
  width: 100%;
  margin: 5px 50px 5px 20px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-nickname {
  font-weight: bold;
  text-decoration: none;
}

.comment-created-at {
  font-size: 15px;
  color:  rgb(136, 136, 136);
}