.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.like-btn-unlike {
  font-size: 15px;
  color: #e54747;
}

.check-like {
  text-align: right;
  margin-bottom: 5px;
}

.index-like {
  padding-right: 23px;
}